<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find cooperative_driving)/config/custom_rosconsole.conf" />

  <arg name="nodelet_manager" default="nodelet_manager" />
  <node name="$(arg nodelet_manager)" pkg="nodelet" type="nodelet" args="manager" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find cooperative_driving_description)/urdf/ccs_robot.xacro'" />

  <include file="$(find cooperative_driving_hardware)/launch/hardware_arm.xml">
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
  </include>

  <include file="$(find cooperative_driving_hardware)/launch/led-controller.launch" />
</launch>
