<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find cooperative_driving)/config/custom_rosconsole.conf" />

  <arg name="id" default="0" />
  <arg name="rc" default="False" />
  <include file="$(find cooperative_driving_application)/launch/statemachine.xml" >
    <arg name="id" value="$(arg id)" />
    <arg name="rc" value="$(arg rc)" />
  </include>
  <include file="$(find cooperative_driving)/launch/robot_raspi.launch" />
</launch>
